[PROJECT]
NAME = My Project
MODULES = app.views
[APP]
# Flask app configuration goes here
# cf http://flask.pocoo.org/docs/config for details
[CELERY]
# Celery app configuration goes here
# cf http://docs.celeryproject.org/en/latest/configuration.html for details
