[DEFAULT]
DOMAIN = my_project
SUBDOMAIN = celery_dq
[PROJECT]
NAME = My Project
MODULES = app.views
[APP]
# cf http://flask.pocoo.org/docs/config/ for more info on these settings
[CELERY]
# cf http://docs.celeryproject.org/en/latest/configuration.html for more info
# here celery is setup with the direct worker queue scheme
BROKER_URL = redis://
CELERY_DEFAULT_EXCHANGE = C.dq
CELERY_DEFAULT_ROUTING_KEY = %(SUBDOMAIN)s.%(DOMAIN)s
CELERY_DEFAULT_QUEUE = %(SUBDOMAIN)s.%(DOMAIN)s.dq
CELERY_DISABLE_RATE_LIMIT = True
CELERY_RESULT_BACKEND = redis://
CELERY_SEND_EVENTS = True
CELERY_TASK_RESULT_EXPIRES = 3600
CELERY_TRACK_STARTED = True
CELERY_WORKER_DIRECT = True
CELERYBEAT_SCHEDULE_FILENAME = %(SUBDOMAIN)s.sch
CELERYD_CONCURRENCY = 3
CELERYD_PREFETCH_MULTIPLIER = 1
