[DEFAULT]
DOMAIN = my_project
SUBDOMAIN = default
[PROJECT]
NAME = My Project
MODULES = app.views
[APP]
# Flask app configuration goes here
# cf http://flask.pocoo.org/docs/config
[CELERY]
# Celery app configuration goes here
# cf http://docs.celeryproject.org/en/latest/configuration.html
BROKER_URL = redis://
CELERY_DEFAULT_EXCHANGE = %(DOMAIN)s
CELERY_DEFAULT_ROUTING_KEY = %(SUBDOMAIN)s.%(DOMAIN)s
CELERY_DEFAULT_QUEUE = %(SUBDOMAIN)s.%(DOMAIN)s
CELERY_DISABLE_RATE_LIMIT = True
CELERY_RESULT_BACKEND = redis://
CELERY_SEND_EVENTS = True
CELERY_TASK_RESULT_EXPIRES = 3600
CELERY_TRACK_STARTED = True
CELERYBEAT_SCHEDULE_FILENAME = .%(SUBDOMAIN)s.sch
