#footer {
    margin-top: 50px;
    overflow: auto;
}

.details_expander {
    cursor: pointer;
    cursor: hand;
}
.details {
    background-color: #fff;
    border: 1px solid #ccc;
}
.details > dl {
    padding-right: 30px;
}
.subnavbar {
    margin-top: 40px;
}
