{% extends 'base.html' %}

{% block navbar %}

          <li><a href='{{ url_for("index") }}'>Home</a></li>

{% endblock %}

{% block subnavbar %}

<div class='navbar navbar-fixed-top subnavbar'>
  <div class='navbar-inner'>
    <div class='container'>
      <div class='nav-collapse'>
        <ul class='nav pull-left'>
          <li class='active'><a href='{{ url_for("index") }}'>Overview</a></li>
          <li><a href='{{ url_for("index") }}'>Active</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

{% endblock %}
