{% extends 'jobs/base.html' %}

{% block content %}

<h1>Jobs</h1>

<table id='jobs_table'>
  <thead>
    <tr>
      <th>Start time</th>
      <th>Task name</th>
      <th>Runtime</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
{#    {% for job in jobs %}
    <tr>
      <td>{{ job.start_time }}</td>
      <td>{{ job.name }}</td>
      <td>{{ job.parameters }}</td>
      <td>{{ job.infos }}</td>
      <td>{{ job.runtime }}</td>
      <td>{{ job.state }}</td>
    </tr>
    {% endfor %} #}
  </tbody>
</table>

{% endblock content %}

{% block scripts %}

<script type='text/javascript'>
$(function () {
  job_index();
});
</script>

{% endblock %}
