{% extends 'jobs/base.html' %}

{% block content %}

<h1>Jobs</h1>

<table class='table table-condensed datatable'>
  <thead>
    <tr>
      <th>Start time</th>
      <th>Task name</th>
      <th>Task parameters</th>
      <th>Runtime</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for job in jobs %}
    <tr>
      <td>{{ job.start_time }}</td>
      <td>{{ job.name }}</td>
      <td>{{ job.parameters }}</td>
      <td>{{ job.runtime }}</td>
      <td>{{ job.state }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th>Start time</th>
      <th>Task name</th>
      <th>Task parameters</th>
      <th>Runtime</th>
      <th>Status</th>
    </tr>
  </tfoot>
</table>

{% endblock content %}

{% block scripts %}

<script type='text/javascript'>
$(function () {
  job_index();
});
</script>

{% endblock %}
