{% extends 'base.html' %}

{% block content %}
<div class='page-header'>
  <h1>Sign in</h1>
</div>

{% if current_user.is_authenticated() %}
<p>You are already signed in, friend!</p>
{% else %}
<div class='alert'>
  <p>
    <strong>Note:</strong> In order to activate sign in, there are two steps:
    <ul>
      <li>
        Registering your application for an API key in the <a href="https://code.google.com/apis/console">Google API console</a> providing the following callback URL: <a href="#">{{ request.url_root }}oauth2callback</a>
      </li>
      <li>
        Updating the <code>CLIENT_ID</code> and <code>CLIENT_SECRET</code> in the <code>app/config/flask.py</code> file with your API key details
      </li>
    </ul>
    Once this is done the following link will work. Otherwise, if you are not planning on using any features that require sign in, simply delete the 'sign in' link in the upper right corner and you are all set! And feel free to delete this notice whenever.
  </p>
</div>
<p><a href='{{ sign_in_url }}' class='btn btn-primary btn-large'>Sign in with your Google account</a></p>
{% endif %}

{% endblock %}
