// AUTOCOMPILE ../css/

// Stylus setup

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

transform_vendor(prop, args)
  vendor(transform, s('%s(%s)', unquote(prop), args))

// Browser compatible properties

border-radius()
  vendor('border-radius', arguments)
//   -webkit-background-clip padding-box
//   -moz-background-clip padding
//   background-clip padding-box

box-shadow()
  vendor('box-shadow', arguments)

box-sizing()
  vendor('box-sizing', arguments)

// Transitions

transition()
  vendor('transition', arguments)

// Transforms

box-rotate()
  transform_vendor('rotate', arguments)

box-scale()
  transform_vendor('scale', arguments)

// General utilities

*
  box-sizing border-box

body
  padding-top 80px

.clearfix:after
  visibility hidden
  display block
  font-size 0
  content " "
  clear both
  height 0

.hidden
  display none


